<!--<mat-toolbar class="toolbar" xmlns="http://www.w3.org/1999/html">-->
<!--  <button mat-icon-button class="example-icon" >-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
<!--  <span>My App</span>-->
<!--  <div class="rightHeader">-->
<!--    <button mat-icon-button>-->
<!--      <mat-icon>favorite</mat-icon>-->
<!--    </button>-->
<!--    <button class="account"mat-icon-button [mat-menu-trigger-for]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">-->
<!--      <mat-icon>account_circle</mat-icon>-->
<!--    </button>-->
<!--    <mat-menu #menu="matMenu">-->
<!--      <span (mouseleave)="menuTrigger.closeMenu()">-->
<!--      <button mat-menu-item *ngIf="isLoggedIn()">Profile</button>-->
<!--      <button mat-menu-item *ngIf="isLoggedOut()" (click)="logIn()">Login</button>-->
<!--      <button mat-menu-item *ngIf="isLoggedIn()" (click)="logOut()">Logout</button>-->
<!--      </span>-->
<!--    </mat-menu>-->
<!--    <button mat-icon-button>-->
<!--      <mat-icon>shopping_cart</mat-icon>-->
<!--    </button>-->
<!--  </div>-->

<!--</mat-toolbar>-->
<!--<app-main></app-main>-->
<router-outlet></router-outlet>

