<mat-grid-list [cols]="3" rowHeight="4:3">
  <button (click)="addItem()">Add</button>
  <mat-grid-tile *ngFor="let itemCard of itemCards"
                 colspan="1"
                 rowspan="1"
                 routerLink="/main/item-detail">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class=""></div>
        <mat-card-title>
          {{itemCard.name}}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div>
          <img [src]="getImageUrl(itemCard.bytes)" width="50px" height="50px" [alt]="itemCard.name">
        </div>
        <p>
          {{itemCard.descriere}}
        </p>
        <div>Price {{itemCard.price}}</div>
        <button mat-flat-button (click)="deleteItem(itemCard.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-flat-button (click)="updateItem(itemCard.id)">
          <mat-icon>update</mat-icon>
        </button>


      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Add to Cart</button>
        <button mat-button>Favorites</button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>


<router-outlet></router-outlet>
