.search {
  color: #213555;
  position: relative;
  font-size: 16px;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  /*margin-top: 10px;*/
  flex-grow: 1;
}

.search input {
  padding-left: 15px;
  margin-right: 16px;
  border-radius: 20px;
  border: 2px solid #CBDAF0;
  background-color: #f8f9ff;
  width: 250px;
  height: 30px;
  /*flex: 1;*/
}
.search input:focus{
  outline: none !important;
  border:2px solid #CBDAF0;
  opacity: 0.5;
}

.search input { text-indent: 25px;}
.search .a-search {
  position: relative;
  /* top: 70%; */
  transform: translateY(20%);
  right: 50px;
}
.search .a-search-close {
  /*position: relative;*/

  top: 7px;
  left: 235px;
  color: #213555;
}

.search-container{
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.search-left{
flex-grow: 1;
}

.mat-grid-list{
  column-gap: 20px;
}

.mat-grid-tile-content{
  width: 350px;
height: 350px;
  /*gap: 20px;*/
}

.card{
  /*width: 200px;*/
  /*height: 300px;*/
}
