<div style="background:antiquewhite;border: solid black;height: 80vh">

  <div>Name</div>
  <div>Carousel photo</div>
<!-- -->
  <button>AddToCart</button>
  <button>AddToFavorites</button>
  <mat-divider></mat-divider>
  <div>Descriere</div>
  <mat-divider></mat-divider>
  <div>Recenzii
<!--  un input text la care la fiecare produs are un link catre o tabela de recenzii care
are recenzia si poate numele cui o postat o daca nu ii conectat si vrea sa lase recenzie il
trimite la log in-->

  </div>




</div>
