<div style="background:antiquewhite;border: solid black;height: 80vh">




  <div style="border: solid black">Name</div>
  <div style="border: solid black">Carousel photo</div>
  <!-- -->
  <button style="border: solid black">AddToCart</button>
  <button style="border: solid black">AddToFavorites</button>
  <mat-divider ></mat-divider>
  <div style="border: solid black">Descriere</div>
  <mat-divider></mat-divider>
  <div style="border: solid black">Recenzii


  </div>


</div>
<router-outlet></router-outlet>
