<div class="menu-container">
<mat-toolbar class="menu-toolbar">
<button mat-flat-button class="menu-item" [matMenuTriggerFor]="freshwater" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">Freshwater Aquariums</button>
  <mat-menu #freshwater="matMenu">
    <span (mouseleave)="menuTrigger.closeMenu()">
    <button mat-menu-item  routerLink="/items" >Pesti</button>
    <button mat-menu-item routerLink="nft ">Acvarii</button>
      </span>
  </mat-menu>
<button mat-flat-button class="menu-item" [matMenuTriggerFor]="salted">Marine Aquarium</button>
  <mat-menu #salted="matMenu">
    <button mat-menu-item >Pesti</button>
    <button mat-menu-item>Acvarii</button>
  </mat-menu>
<button mat-flat-button class="menu-item" [matMenuTriggerFor]="pond">Ponds</button>
  <mat-menu #pond="matMenu">
    <button mat-menu-item >Pesti</button>
    <button mat-menu-item >Iazuri</button>
  </mat-menu>
<button mat-flat-button class="menu-item">Forum</button>
<button mat-flat-button class="menu-item">About Us</button>
</mat-toolbar>
</div>
<mat-divider></mat-divider>
<div *ngIf="isAdmin()">
<button mat-flat-button  (click)="openAddDialog()">Add</button>
<button mat-flat-button >Delete</button>
<button mat-flat-button >Update</button>
</div>
<!--<app-itemcard></app-itemcard>-->
<div style="background: black">ceva</div>
<div class="carousel-container">
  <div class="info">Box 1</div>
  <div class="carousel" >
    <router-outlet> </router-outlet>


</div>

</div>
<div style="background: black">ceva</div>

