<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport

               [mode]="'push'"
               [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <div class="menu-container" *ngIf="drawer.opened">
        <button mat-menu-item [matMenuTriggerFor]="freshwater" #menuFreshwaterTrigger="matMenuTrigger"
                (mouseover)="menuFreshwaterTrigger.openMenu()">Freshwater
        </button>
        <button mat-menu-item [matMenuTriggerFor]="saltwater" #menuSaltwaterTrigger="matMenuTrigger"
                (mouseover)="menuSaltwaterTrigger.openMenu()">Salted Water
        </button>
        <button mat-menu-item [matMenuTriggerFor]="ponds" #menuPondsTrigger="matMenuTrigger"
                (mouseover)="menuPondsTrigger.openMenu()">Ponds
        </button>

        <!--          </mat-menu>-->

        <!--Second level sub Menu-->

        <mat-menu #freshwater="matMenu">
            <span (mouseleave)="menuFreshwaterTrigger.closeMenu()">
            <button mat-menu-item [matMenuTriggerFor]="fishesFreshwater" (click)="getItems()">Aquarium Fish</button>
            <button mat-menu-item [matMenuTriggerFor]="filtersFreshwater">Filters</button>
            <button mat-menu-item [matMenuTriggerFor]="accesoriesFreshwater">Accesories</button>
            <button mat-menu-item [matMenuTriggerFor]="foodFreshwater">Food</button>
            <button mat-menu-item [matMenuTriggerFor]="plantsFreshwater">Plants</button>
            <button mat-menu-item [matMenuTriggerFor]="aquariumsFreshwater">Aquariums</button>
            <button mat-menu-item [matMenuTriggerFor]="lightsFreshwater">Lights</button>
            <button mat-menu-item [matMenuTriggerFor]="decorationsFreshwater">Decorations</button>
            </span>
        </mat-menu>

        <mat-menu #saltwater="matMenu">
            <span (mouseleave)="menuSaltwaterTrigger.closeMenu()">
            <button mat-menu-item [matMenuTriggerFor]="fishesSaltwater">Aquarium Fish</button>
            <button mat-menu-item [matMenuTriggerFor]="filtersSaltwater">Filters</button>
            <button mat-menu-item [matMenuTriggerFor]="accesoriesSaltwater">Accesories</button>
            <button mat-menu-item [matMenuTriggerFor]="foodSaltwater">Food</button>
            <button mat-menu-item [matMenuTriggerFor]="plantsSaltwater">Corals</button>
            <button mat-menu-item [matMenuTriggerFor]="aquariumsSaltwater">Aquariums</button>
            <button mat-menu-item [matMenuTriggerFor]="lightsSaltwater">Lights</button>
            <button mat-menu-item [matMenuTriggerFor]="saltSaltwater">Salt</button>
            <button mat-menu-item [matMenuTriggerFor]="decorationsSaltwater">Decorations</button>
            </span>
        </mat-menu>

        <mat-menu #ponds="matMenu">
            <span (mouseleave)="menuPondsTrigger.closeMenu()">
            <button mat-menu-item [matMenuTriggerFor]="fishesPonds">Aquarium Fish</button>
            <button mat-menu-item [matMenuTriggerFor]="filtersPonds">Filters</button>
            <button mat-menu-item [matMenuTriggerFor]="accesoriesPonds">Accesories</button>
            <button mat-menu-item [matMenuTriggerFor]="foodPonds">Food</button>
            <button mat-menu-item [matMenuTriggerFor]="plantsPonds">Plants</button>
            <button mat-menu-item [matMenuTriggerFor]="decorationsPonds">Decorations</button>
            </span>
        </mat-menu>

        <!--Third level sub Menu-->

        <mat-menu #fishesFreshwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #filtersFreshwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #accesoriesFreshwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #foodFreshwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #plantsFreshwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #aquariumsFreshwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #lightsFreshwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #decorationsFreshwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>

        <!--          //saltWater-->
        <mat-menu #fishesSaltwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #filtersSaltwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #accesoriesSaltwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #foodSaltwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #plantsSaltwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #aquariumsSaltwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #lightsSaltwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #saltSaltwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #decorationsSaltwater="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>

        <!--          //Ponds-->
        <mat-menu #fishesPonds="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #filtersPonds="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #accesoriesPonds="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #foodPonds="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #plantsPonds="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>
        <mat-menu #decorationsPonds="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            </span>
        </mat-menu>

        <div>
          <button mat-flat-button class="menu-item">Forum</button>
        </div>
        <div>
          <button mat-flat-button class="menu-item">About Us</button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div *ngIf="isAdmin()">
        <div>
          <button mat-flat-button (click)="openAddDialog()">Add</button>
        </div>
        <div>
          <button mat-flat-button>Delete</button>
        </div>
        <div>
          <button mat-flat-button>Update</button>
        </div>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="header-container">
      <div class="leftHeader">
      <button mat-icon-button class="example-icon">
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
      </button>
      <span >FishParadise</span>
      </div>
      <div class="rightHeader">
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button class="account" mat-icon-button [mat-menu-trigger-for]="menu" #menuTrigger="matMenuTrigger"
                (mouseover)="menuTrigger.openMenu()">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
            <button mat-menu-item *ngIf="isLoggedIn()">Profile</button>
            <button mat-menu-item *ngIf="isLoggedOut()" (click)="logIn()">Login</button>
            <button mat-menu-item *ngIf="isLoggedIn()" (click)="logOut()">Logout</button>
            </span>
        </mat-menu>
        <button mat-icon-button routerLink="/main/cart">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
