<!--<mat-grid-list cols="3" rowHeight="4:3">-->
<!--&lt;!&ndash;  rowHeigth o sa iau numarul de iteme din request il impart la 3 si adun 1 sa am nr de linii&ndash;&gt;-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--  <mat-grid-tile><app-itemcard></app-itemcard></mat-grid-tile>-->
<!--</mat-grid-list>-->
<!--<app-itemcard></app-itemcard>-->
<!--<router-outlet></router-outlet>-->
