<div>

  Update Product


  <mat-dialog-content [formGroup]="updateItemForm">
    <mat-form-field>
      <input matInput placeholder="Brand" formControlName="brand">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="serialNumber" formControlName="serialNumber">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="price" formControlName="price">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="General category" formControlName="generalCategory">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Category" formControlName="category">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Descriere" formControlName="descriere">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Quantity" formControlName="quantity">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Sale percentage" formControlName="percentageSale">
    </mat-form-field>
    <br/>

    <div></div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button (click)="updateItem()">Update</button>

  </mat-dialog-actions>
</div>
